{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-header bg-primary text-white">Register</div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <hr>
          <h5>Profile Information</h5>
          {{ profile_form|crispy }}
          <button type="submit" class="btn btn-success w-100 mt-3">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}