body {
    background-color: ghostwhite;
}

.navbar-brand {
    font-weight: bold;
}

.card {
    border-radius: 0.5rem;
}

.card-header {
    font-weight: 600;
}

.btn {
    border-radius: 0.25rem;
}
